body{
	/*background-color:#13141A !important;*/
background: radial-gradient(circle, rgba(79,79,83,1) 0%, rgba(19,20,26,1) 100%)!important;
}
html {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

/*_______________________ANIMACION________________________*/

#stamp{
	fill:white;
	height:95vh;
}

.estampa{
	fill:#dc3545;
}

svg {
  width: 100%;
}

/*_______________________________________________*/
