@charset "UTF-8";
/* CSS Document */
body{
	/*background-color:#13141A !important;*/
background: radial-gradient(circle, rgba(79,79,83,1) 0%, rgba(19,20,26,1) 100%)!important;
}
html {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

i{
	color:#dc3545;
}


/*----------------- BARRAS DE PROGRESO----------------------*/

.photoshop{
	background-color:#2fa3f7 !important;
}
.illustrator{
	background-color:#f79502 !important;
}
.indesign{
	background-color:#f63263 !important;
}
.dream{
	background-color:#f75fee !important;
}
.premier{
	background-color:#9494f7 !important;
}
.cinema{
	background-color:#2E249A !important;
}

/*---------------- ANIMACIÓN BARRAS DE PROGRESO---------------*/

.progress .progress-bar {
    animation-name: animateBar;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}
@keyframes animateBar {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0);}
}

